<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="keyur.diwan.project.waterReminder">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"

            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="keyur.diwan.project.waterReminder.WalkThroughActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="keyur.diwan.project.waterReminder.StatsActivity"
                android:theme="@style/MainTheme"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name="keyur.diwan.project.waterReminder.InitUserInfoActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="keyur.diwan.project.waterReminder.MainActivity"
                android:theme="@style/MainTheme"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="keyur.diwan.project.waterReminder.recievers.NotifierReceiver"/>
        <receiver android:name="keyur.diwan.project.waterReminder.recievers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>